#card-mapper:hover #mapper-name{
    color: #fff !important;
}


#card-mapper:hover #btn-contact-mapper{
    color: #fff !important;
}

    
#btn-contact-mapper:hover{
    background: rgba(255, 255, 255, 0.237);
}

#link-contact-mapper{
    width: 100%;
}